<header class="cabecalho">
    <div class="logo">
      <img src="IMAGENS/1.png" alt="Logo Peça Express">
    </div>
    <nav>
      <ul>
        <li><a href="" target="_blank">Catálogo</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </nav>
    <div class="icones">
      <a href="#" target="_blank"><img src="IMAGENS/user.png" alt="Usuário"></a>
      <a href="/carrinho" target="_blank"><img src="IMAGENS/carrinho.png" alt="Carrinho"></a>
    </div>
  </header>

  <main class="pagina-produto">
    <div class="container-produto">
      <div class="imagem-produto">
        <img src="IMAGENS/suspensao.jpeg" alt="Suspensão">
        <p class="descricao">
          Todas as peças são feitas com materiais de alta qualidade, Peça Express é projetada para garantir o desempenho e a confiança que seu veículo merece.
        </p>
        <p class="frete">
           <span>FRETE GRÁTIS</span>
        </p>
      </div>
      <div class="detalhes-produto">
        <h1>Suspensão</h1>
        <p class="preco">R$ 1.299,99</p>
        <div class="tipo-compra">
          <label>
            <input type="radio" name="compra" checked> Compra única
          </label>
        </div>
        <div class="quantidade">
          <p>Quant.</p>
          <div class="controles-quantidade">
            <button>-</button>
            <input type="text" value="1">
            <button>+</button>
          </div>
        </div>
        <a href="/carrinho" target="_blank">
          <button class="adicionar-carrinho">
            <img src="IMAGENS/carrinho.png" alt="Carrinho">
            + Adicionar no carrinho
          </button>
        </a>
      </div>
    </div>
  </main>

  <footer class="rodape">
    <div class="container-rodape">
      <div class="logo-rodape">
        <img src="IMAGENS/2.png" alt="Peça Express Logo">
        <p>A peça automotiva ideal, feita para o desempenho do seu veículo e para o seu conforto nas estradas.</p>
      </div>
      <div class="links-rodape">
        <div class="coluna-rodape">
          <h3>Catálogo</h3>
          <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Mais Pesquisados</a></li>
            <li><a href="#">Mais Vendidos</a></li>
          </ul>
        </div>
        <div class="coluna-rodape">
          <h3>Sobre</h3>
          <ul>
            <li><a href="#">Ajuda</a></li>
            <li><a href="#">Envio</a></li>
            <li><a href="#">Devoluções</a></li>
          </ul>
        </div>
        <div class="coluna-rodape">
          <h3>Informações</h3>
          <ul>
            <li><a href="#">Contacte-nos</a></li>
            <li><a href="#">Política de Privacidade</a></li>
            <li><a href="#">Termos e Condições</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>